{% extends 'blog/base.html' %}
{% load static%}
{% block content %}
        <div class="col-lg-1"></div>
        <div class="container col-lg-8">
            <div class="left-container mt-5">
                <div class="card-deck">
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/meatfreemonday.jpg'%}" alt="カード1の画像">
                        <div class="card-body">
                            <h3 class="card-title">東京内閣府でミートフリーマンデー導入</h3>
                            <p class="card-text">2018年10月1日より東京都の内閣府で「ミートフリーマンデー」が導入されるようになりました。</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新1分前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/furfreefur.jpg'%}" alt="カード2の画像">
                        <div class="card-body">
                            <h3 class="card-title">ファーフリー宣言</h3>
                            <p class="card-text">コーチを持つTapestry社が2019年秋コレクション以降コーチがファーフリーになることを宣言しました。ファーフリー宣言にはミンク、コヨーテ、キツネ、ウサギを含むすべての動物の毛皮が含まれ</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新3分前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/mirenial.jpg'%}" alt="カード3の画像">
                        <div class="card-body">
                            <h3 class="card-title">ミレニアル世代の70％は肉を減らしている？</h3>
                            <p class="card-text">ミレニアル世代とは1980年以降に生まれた世代のことをミレニアル世代と言います。小さい時からデジタル化された生活に慣れていて、ほとんどの人が日常的にインターネットや、スマートフォンを</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新14分前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                </div>
                <div class="card-deck mt-5">
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/gokun.jpg'%}" alt="カード1の画像">
                        <div class="card-body">
                            <h3 class="card-title">肉食だけではない？五葷のキツさ</h3>
                            <p class="card-text">五葷というものをご存知でしょうか？「ねぎ」「にら」「らっきょう」「にんにく」などユリ科の植物で、共通点としてとにかく、キツイ臭気をもつ植物なのですが、仏教では「三厭五葷」は食べて</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新1日前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/forest.png'%}" alt="カード2の画像">
                        <div class="card-body">
                            <h3 class="card-title">畜産業の環境に与える影響</h3>
                            <p class="card-text">ノーマイカーデーというものをご存知でしょうか？毎月20日はノーマイカーデーと言われていて、車の利用を減らす事で排気ガスを減らし、地球の環境に貢献しようという取り組みです。出来るだけ</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新5日前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                    <div class="card parent">
                        <img class="card-img-top" src="{% static 'image/burgar.jpg'%}" alt="カード3の画像">
                        <div class="card-body">
                            <h3 class="card-title">一つのハンバーガーを作るには？</h3>
                            <p class="card-text">さて今回は、一般的に売られているハンバーガーの「ハンバーグ」を一枚（約100g）作るのにどれくらいの土地が必要なのかについて見ていきたいと思います。ちなみに現在、全世界の耕作地のおよ</p>
                            <p class="card-text underfix"><small class="text-muted mr-2">最終更新14日前</small><a href="#!" class="btn read-more">もっとみる</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
{% endblock %}