{% extends "blog/base.html" %}
{% block content %}

<div class="col-lg-1"></div>
        <div class="container col-lg-7">
            <div class="left-container mt-5">
                <div class="alert mt-5" role="alert">
                    <p class="mb-3 text-center">パスワード再設定を完了しました。</p>
                    <hr>
                    <div class="container text-center">
                        <a href="{% url 'blog:login' %}" class="mb-0 btn mx-2">ログイン</a>
                    </div>
                </div>
             </div>
        </div>
{% endblock %}