{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.certifications.errors }}
        <div class="col-lg-1"></div>
        <div class="container col-lg-8">
            <div class="left-container mt-5">
                <h2><span><i class="far fa-edit fa-fw"></i></span>レシピ作成<span><i class="far fa-edit fa-fw"></i></span></h2>
                <form method="post"  id="myform">
                    {% csrf_token %}
                    <table>
                        {%crispy form%}
                    </table>
                    <input type="submit" class="btn" value="作成">
                </form>
            </div>
        </div><!-- /.container -->
{% endblock %}