{% extends 'blog/base.html' %}

{% block content %}
        <div class="col-lg-1"></div>
        <div class="container col-lg-8">
            <div class="left-container mt-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ユーザー名</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        {% if user.username != user.email %}
                        <tr>
                            <th>ユーザー名</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>姓</th>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>名</th>
                            <td>{{ user.first_name }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="container mt-5 text-center">
                        <a href="{% url 'blog:user_update' user.pk %}" class="mb-0 btn mx-2">登録内容変更</a>
                </div>
                <div class="container mt-5 text-center">
                        <a href="{% url 'blog:password_change' %}" class="mb-0 btn mx-2">パスワード変更</a>
                </div>
            </div>
        </div><!-- /.container -->
{% endblock %}
